<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>

    <title>  {% block title %}Blank&White{% endblock %}</title>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- js -->
    <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    {% block js %}{% endblock %}
</head>

<body>
{% block header %}
<div class="container">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1 class="user_info"><a href="{% url 'blog:index'  %}"><b>Mir</b> &amp; Jack_Liu</a></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            {% if user.is_authenticated %}
                                 <li class="cl-effect-11"><a href="{% url 'blog:userinfo'  %}" data-hover="{{ user.username }}">{{ user.username }}</a></li>
                            {% else %}
                                  <li class="cl-effect-11"><a href="{% url 'blog:login'  %}" data-hover="登录">登录</a></li>
                            {% endif %}
                            <li class="cl-effect-11"><a href="{% url 'blog:index'  %}" data-hover="首页">首页</a></li>
                            <li class="cl-effect-11"><a href="{% url 'blog:all' 1 %}" data-hover="博客">博客</a></li>
                            <li class="cl-effect-11"><a href="{% url 'blog:about' %}" data-hover="关于">关于</a></li>
                            <li class="cl-effect-11"><a href="{% url 'blog:contact' %}" data-hover="联系">联系</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                <div id="header-search-box">
                    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="/search">
                            <input type="search" name="q" placeholder="搜索" required>
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
                    </div>
                </div>
            </div><!-- col-md-8 -->
        </div>
    </header>
</div>
{% endblock %}

{% block body %}
{% endblock %}
{% block footer %}
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">&copy 2019 - <a href="#"
                                                        target="_blank" title="模板之家">Arron的博客</a>
{#                    - <a href="http://zmrenwu.com/" title="网页模板" target="_blank">莫忘的博客</a>#}
                </p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
<!-- Mobile Menu -->
{% block mobile %}
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li class="cl-effect-11"><a href="{% url 'blog:userinfo'  %}" data-hover="{{ user.username }}">{{ user.username }}</a></li>
            {% else %}
                <li class="cl-effect-11"><a href="{% url 'blog:login'  %}" data-hover="登录">登录</a></li>
            {% endif %}
            <li><a href="{% url 'blog:index' %}">首页</a></li>
            <li><a href="{% url 'blog:index' %}">首页</a></li>
            <li><a href="{% url 'blog:all' 1 %}">博客</a></li>
            <li><a href="{% url 'blog:about' %}">关于</a></li>
            <li><a href="{% url 'blog:contact' %}">联系</a></li>
        </ul>
    </nav>
</div>
{% endblock %}
{% block flie %}{% endblock %}
<script src="{% static 'js/script.js'%} "></script>

</body>
</html>
